<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <p>press the pay button to pay <bold>$5</bold> with paypal</p>
    <br>

    <form action="/pay" method="post">
        <button type="submit">Pay</button>
    </form>
</body>
</html>